/* common */

:root {
    --color-global: #5f5b53;
    --color-heading: #171100;
}

* {
    box-sizing: border-box;
    color: var(--color-global);
}

a {
    text-decoration: none;
}

html {
    font-family: "Poppins", serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(1170px - 48px);
}

.heading {
    font-family: "Sen", serif;
}

.btn {
    /* margin-left: 70px; */
    padding: 0;
    min-width: 144px;
    height: 50px;
    padding: 12px 24px;
    border: none;
    border-radius: 999px;
    background: var(--color-heading);

    font-weight: 600;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

button {
    font-family: "Poppins", serif;
}

.dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(99, 71, 0, 1);
    cursor: pointer;
}
.dot__active {
    background: rgba(255, 185, 0, 1);
}

/* header */

.header {
    position: sticky;
    top: -28px;

    z-index: 99;

    background: #fffcf4;

    padding-top: 36px;
    padding-bottom: 8px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.logo__heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
    color: var(--color-heading);
}

.logo__heading a {
    color: var(--color-heading);
}

.header__dot {
    color: #ffb900;
}

.navbar {
    margin-right: 70px;
    width: 359px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    line-height: 28px;
    padding: 0 12px;
}

.active {
    position: relative;
    font-weight: 600;
    color: var(--color-heading);
}
.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 12px;
    height: 2px;
    background: var(--color-heading);
    border-radius: 99px;
}

/* hero */

.hero {
    background: #fffcf4;

    padding: 57px 0 65px;
    /* padding: 142px 0 65px 0; */
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    width: 49%;

    position: relative;
}

.hero__img {
    width: 470px;
    height: 685px;
    object-fit: cover;

    border-radius: 20px;
}

.hero__card {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero__card--item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero__card--item ~ .hero__card--item {
    margin-top: 14px;
}

.hero__course--qnt {
    font-size: 1.4rem;
    line-height: 26px;
}

.hero__course--title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: var(--color-heading);
}

.hero__content {
    width: 43.5%;
}

.hero__heading {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px;
    color: var(--color-heading);
}

.hero__desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 30px;
}

.hero__action {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 38px;
}

.hero__btn {
    min-width: 180px;
    height: 64px;
    border-radius: 99px;
    border: none;
    background: rgba(255, 185, 0, 1);

    color: #fff;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;
}

.hero__btn:hover {
    opacity: 0.8;
}

.hero__video {
    display: flex;
    align-items: center;
    gap: 14px;
}

.hero__video__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.hero__video--title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: var(--color-heading);
}

.hero__content--bottom {
    margin-top: 48px;
}

.hero__starts {
    display: flex;
    align-items: center;
    gap: 28px;

    margin-top: 8px;
}

.hero__content--qnt {
    font-size: 1.8rem;
    line-height: 30px;
}

strong {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 54px;
    color: var(--color-heading);
}

/* popular */
.popular {
    margin: 200px 0;
}

.popular__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular__top--heading {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    color: var(--color-heading);
}

.popular__top--desc {
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.66;
    width: 458px;
}

.popular__top--action {
    display: flex;
    align-items: center;
    gap: 18px;
}

.popular__top--icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 185, 0, 1);
    border-radius: 50%;
    stroke: rgba(255, 185, 0, 1);
    background: inherit;
    transition: 0.3s;
}

.popular__top--icon:hover {
    background: #ffb900;
    stroke: #fff;
    cursor: pointer;
}

.popular__top--icon ~ .popular__top--icon .popular__top--arrow {
    rotate: 180deg;
}

.popular__cards {
    display: flex;
    gap: 30px;

    margin-top: 55px;
}

.popular__card--item {
    width: 370px;
    border: 1px solid rgba(226, 223, 218, 1);
    border-radius: 12px;

    transition: 0.3s;
}

.popular__card--item:hover {
    border-color: transparent;
    transform: translateY(-15px);
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular__card--img {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.popular__card--content {
    padding: 22px;
}

.popular__card--inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular__card--title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: var(--color-heading);
}

.popular__card--rating {
    display: flex;
    align-items: center;
    gap: 6px;
}
.popular__card--qnt {
    line-height: 28px;
    color: rgba(254, 163, 27, 1);
}

.popular__card--desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 26px;
}
.popular__card--content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 12px;
}

.popular__card--focus {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: var(--color-heading);
}

.popular__card--btn {
    min-width: 118px;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 26px;
}

.popular__card--btn:hover {
    background: #ffb900;
}

/* testimonial */
.testimonial {
    padding: 96px 135px;
    background: rgba(46, 33, 0, 1);
}

.testimonial__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial__left {
    width: 15%;
}

.testimonial__ui {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial__name {
    font-family: "Sen", serif;
    margin-top: 18px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
    color: rgba(247, 247, 247, 1);
}
.testimonial__desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 26px;
    color: rgba(191, 188, 178, 1);
}

.testimonial__content {
    position: relative;
    width: 63%;
}

.testimonial__content--desc {
    font-style: italic;
    font-size: 2.6rem;
    line-height: 40px;
    color: #fff;
}

.testimonial__content--icon {
    position: absolute;
    top: -28px;
    left: -30px;
}

/* feature */

.feature {
    margin-top: 200px;
}

.feature__inner,
.cta__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 438px;
}
.feature__media {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    width: 49%;
}

.feature__img {
    position: absolute;
    width: 48%;
    border-radius: 20px;
    object-fit: cover;
}
.feature__img:last-child {
    top: 0;
    right: 0;
}

.feature__img:first-child {
    bottom: 0;
    left: 0;
}

.feature__content {
    width: 44%;
}

.feature__heading,
.cta__heading {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
    color: var(--color-heading);
}

.feature__desc,
.cta__desc {
    margin-top: 16px;
    line-height: 28px;
}

.feature__btn,
.cta__btn {
    margin-top: 32px;
    min-width: 137px;
    background: rgba(255, 185, 0, 1);
    color: #fff;
}

/* cta */
.cta {
    margin-top: 200px;
}

.cta__content {
    width: 49%;
}

.cta__media {
    width: 44%;
}

.cta__img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
